**/three.min.js
# Node.js dependencies
**/node_modules/
**/package-lock.json

# Vite cache and build
**/.vite/
**/dist/

# Logs
**/logs/
**/*.log

# OS files
**/.DS_Store
**/Thumbs.db

# IDE settings
.idea/
.vscode/

# Temp files
*.tmp
*.swp

# Three.js
**/three.min.js

# Environment variables
.env

# Debug files
.nyc_output/
coverage/

# random azurite files
**/azurite*
**/__azurite*